.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}
.navbar-brand img {
  border: none;
}

.active {
  color: #008AFF !important;
}

.btn-info
{
  background-color: #008AFF;
  border-color: #008AFF;
}

.btn-info:hover
{
  background-color: #0072d6;

}