<div class="container mt-5">

  <div *ngIf="!registerMode" style ='text-align:center;'>
    <br>
      <img class="logo" src="assets/logoblack.png" alt="logo">
      <img class="light" src="assets/light.png" >
      
      <div class="mobile">
        <br>
        <br>
        <br>
        <br>
      </div>

      <hr>
    <p class="lead">Connect to the best people.</p>
    <div class= "text-center">
      <button *ngIf="(accountService.currentUser$ | async) === null" (click) ="registerToggle()" class="btn btn-outline-info btn-lg mr-1">Register Now</button>
      <button *ngIf="(accountService.currentUser$ | async) !== null" routerLink='/members' class="btn btn-outline-info btn-lg mr-1">Go to Member list</button>

    </div>
  </div>

  <div class="mobile">
    <br>
    <br>
    <br>
    <br>
  </div>

  <div *ngIf="registerMode" class="container">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>

</div>
