h1{
  color:rgb(255, 255, 255);
  text-align: center;
  border: rgb(202, 14, 14) 2px solid;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  background-color: crimson;
}
li
{
  color:rgb(255, 255, 255);
  border: rgb(255, 99, 99) 2px solid;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(220, 20, 20);
}
li:hover
{
  background-color: rgb(255, 0, 0);
}
.mt-auto {
  position: absolute;
  bottom: -200px;
  width: 100%;
  height: 40px;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {
  .mt-auto {
    bottom: 0;
    width: 100%;
    height: 0;
    position:unset;
  }
}