footer{
    background-color: black;
    color:white;
    text-align: center;
    position:absolute;
    width:100%;
    padding: 20px;
}
a
{
    transition: 1s;
    color:white;
    font-size: 25px;
}
a:hover
{
    transition: 1s;
    color:#008AFF;
    font-size: 25px;
}